{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <title>{% block pagetitle %} {% endblock pagetitle %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- favicon file -->
      <link rel=" shortcut icon" href="{% static 'images/hiredicon.png' %}" type="image/png"> 
      
      <!-- Jquery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      
      <!-- Bootstrap -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
      <!-- google fonts and google icon -->
      <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      
      <!-- Css file -->
      <link rel="stylesheet" href="{% static 'css/home.css' %}">

      {% block homecss %}
      {% endblock homecss %}

      {% block homescript %}
      {% endblock homescript %}
  </head>

  <body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg">        
          <span><img src="{% static 'images/hiredicon.png' %}"/></span>
          {% block portalname %}

          {% endblock %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
              {% block navbarbutton %}
            
              {% endblock navbarbutton %}
            </ul>
          </div> 
        </nav>
      </header>

      <!-- Main body- -->
      {% block content %}
      
      {% endblock content %}
        
      <!-- Footer section -->
      <footer>
        <div class="footer text-light p-5">
          {% block footerc %}

          {% endblock footerc %}
        </div>
      </footer>  
  </body>
</html>