<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <th>PROFILE</th>
    <tr><td>SSC Procentage</td><td>{{data.ssc_percentage}}</td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>

{{data.hsc_percentage}}
{{data.graduation_semester_1_CGPA_or_percentage}}
{{data.graduation_semester_2_CGPA_or_percentage}}
{{data.graduation_semester_3_CGPA_or_percentage}}
{{data.graduation_semester_4_CGPA_or_percentage}}
{{data.graduation_semester_5_CGPA_or_percentage}}
{{data.graduation_semester_6_CGPA_or_percentage}}
{{data.skills}}
{{data.upload_cv}}
</table>
</body>
</html>